<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Libre+Baskerville|Ubuntu&display=swap');
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

    <title>Fit-Pro-Quo</title>
</head>

<body class="bg-img">
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper deep-purple darken-3">
                    <a href="{{url_for('home')}}" class="brand-logo center"><span class="header">Fit-Pro-Quo</span></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('fit_track')}}">Fit Tracker</a></li>
                        <li><a href="{{url_for('sports')}}">Sports</a></li>
                        <li><a href="{{url_for('addexercise')}}">Add Session</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('fit_track')}}">Fit Tracker</a></li>
                <li><a href="{{url_for('sports')}}">Sports</a></li>
                <li><a href="{{url_for('addexercise')}}">Add Session</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </main>
    <footer class="page-footer blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text header">Fit-Pro-Quo</h5>
                    <p class="grey-text text-lighten-4">Quickly find what you looking for in the Fit-Pro-Quo page by using the links to the side</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Fit-Pro-Quo</h5>
                    <ul>
                        <li><i class="material-icons">home</i><a class="grey-text text-lighten-3" href="{{url_for('home')}}"> Home</a></li>
                        <li><i class="material-icons">devices</i><a class="grey-text text-lighten-3" href="{{url_for('fit_track')}}"> Fit Tracker</a></li>
                        <li><i class="material-icons">directions_run</i><a class="grey-text text-lighten-3" href="{{url_for('sports')}}"> Sports</a></li>
                        <li><i class="material-icons">add_box</i><a class="grey-text text-lighten-3" href="{{url_for('addexercise')}}"> Add Session</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').formSelect();
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.datepicker').datepicker();
        });
    </script>
</body>

</html>
