{% extends 'base.html' %} {% block content %}

<h3 class="white-text">
    Add Review/ Edit
</h3>
<div class="row">
    <form class="col s12 row" action="{{url_for('update_action', action_id=action_tracker._id) }}" method="POST">
        <div class="card blue darken-3">
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12">
                        <div>
                            <i class="material-icons prefix black circle center">directions_run</i>
                            <label class="black-text card-title center-align"><strong>Sport</strong></label>
                        </div>
                        <select id="action" name="action_name">
                            <option value="" disabled selected> Choose your Sport</option>
                            {% for act in action %}
                                {% if act.action_name == action_tracker.action_name %}
                                    <option value="{{act.action_name}}" class="black-text" selected>{{act.action_name}}</option>
                                    {% else %}
                                    <option value="{{act.action_name}}" class="black-text">{{act.action_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card blue darken-3">
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12">
                        <div>
                            <i class="material-icons prefix black circle center">add</i>
                            <label class="black-text card-title center-align"><strong>Session name</strong></label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="session_name" name="session_name" type="tel" class="materialize-textarea">{{action_tracker.session_name}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card blue darken-3">
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12">
                        <div>
                            <i class="material-icons prefix black circle center">assignment</i>
                            <label class="black-text card-title center-align"><strong>Session Plan</strong></label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="action_description" name="action_description" type="tel" class="materialize-textarea">{{action_tracker.action_description}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card blue darken-3">
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12">
                        <div>
                            <i class="material-icons prefix black circle center">exposure</i>
                            <label class="black-text card-title center-align"><strong>Planned fatigue levels</strong></label>
                        </div>
                        <div class="input-field col s12">
                            <select id="planned_fatigue" name="planned_fatigue">
                                {% if action_tracker.planned_fatigue == action_tracker.planned_fatigue %}
                                    <option value="{{action_tracker.planned_fatigue}}" class="black-text" selected>{{action_tracker.planned_fatigue}}</option>
                                    <option value="1" class="black-text">1</option>
                            <option value="2" class="black-text">2</option>
                            <option value="3" class="black-text">3</option>
                            <option value="4" class="black-text">4</option>
                            <option value="5" class="black-text">5</option>
                            <option value="6" class="black-text">6</option>
                            <option value="7" class="black-text">7</option>
                            <option value="8" class="black-text">8</option>
                            <option value="9" class="black-text">9</option>
                            <option value="10" class="black-text">10</option>
                                    {% else %}
                                    <option value="1" class="black-text">1</option>
                            <option value="2" class="black-text">2</option>
                            <option value="3" class="black-text">3</option>
                            <option value="4" class="black-text">4</option>
                            <option value="5" class="black-text">5</option>
                            <option value="6" class="black-text">6</option>
                            <option value="7" class="black-text">7</option>
                            <option value="8" class="black-text">8</option>
                            <option value="9" class="black-text">9</option>
                            <option value="10" class="black-text">10</option>
                                {% endif %}
                        </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card blue darken-3">
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12" id="matfix">
                        <div>
                            <i class="material-icons prefix black circle center">today</i>
                            <label class="black-text card-title center-align"><strong>Date</strong></label>
                        </div>
                        <input id="date" name="date" type="text" class="datepicker" value="{{action_tracker.date}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="card blue">
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12">
                        <div>
                            <i class="material-icons prefix black circle center">exposure</i>
                            <label class="black-text card-title center-align"><strong>Actual fatigue levels</strong></label>
                        </div>
                        <div class="input-field col s12">
                            <select id="actual_fatigue" name="actual_fatigue">
                            <option value="" disabled selected> Actual of fatigue</option>
                            <option value="1" class="black-text">1</option>
                            <option value="2" class="black-text">2</option>
                            <option value="3" class="black-text">3</option>
                            <option value="4" class="black-text">4</option>
                            <option value="5" class="black-text">5</option>
                            <option value="6" class="black-text">6</option>
                            <option value="7" class="black-text">7</option>
                            <option value="8" class="black-text">8</option>
                            <option value="9" class="black-text">9</option>
                            <option value="10" class="black-text">10</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card blue">
            <div class="card-content white-text">
                <div class="row">
                    <div class="input-field col s12">
                        <div>
                            <i class="material-icons prefix black circle center">assignment</i>
                            <label class="black-text card-title center-align"><strong>Feedback</strong></label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="feedback" name="feedback" type="tel" class="materialize-textarea">{{action_tracker.feedback}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn waves-effect waves-light deep-purple darken-3" type="submit" name="action">Update session
            <i class="material-icons right">create</i>
        </button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
