{% extends 'base.html' %} {% block content %}

<h2 class="white-text">Fitness Tracker</h2>
{% for action in action_tracker %}
<div class="card">
  <div class="card-image activator waves-effect waves-block waves-light">
    <i class="material-icons">fitness_center</i>
    <i class="material-icons">directions_bike</i>
    <i class="material-icons">directions_run</i>
  </div>
  <div class="card-content activator">
    <span class="card-title activator grey-text text-darken-4"><strong>Session name: {{action.session_name}}</strong><i class="material-icons right">more_vert</i></span>
    <span class="card-title activator grey-text text-darken-4">Date: {{action.date}}</span>
    <a href="{{url_for('edit_action', action_id=action._id)}}" class="waves-effect waves-light btn deep-purple darken-3"><i class="material-icons right">create</i>Edit/Add Feedback</a>
    <a class="waves-effect waves-light btn modal-trigger red" href="#modal1">Delete</a>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Confirmation</h4>
        <p>Once you have deleted a session it is not possible to retrieve the session information again.</p>
      </div>
      <div class="modal-footer">
        <a href="{{url_for('delete_action', action_id=action._id)}}" class="modal-close waves-effect waves-green btn-flat">Confirm</a>
      </div>
    </div>
  </div>

  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><strong>Session name: {{action.session_name}}</strong><i class="material-icons right">close</i></span>
    <table class="stripped">
      <tbody>
        <tr>
          <td>Sport:</td>
          <td>{{action.action_name}}</td>
        </tr>
        <tr>
          <td>Session dercription: </td>
          <td>{{action.action_description}}</td>
        </tr>
        <tr>
          <td>Planned fatigue levels:</td>
          <td>{{action.planned_fatigue}}</td>
        </tr>
        <tr>
          <td>Date:</td>
          <td>{{action.date}}</td>
        </tr>
      </tbody>
    </table>
    <span class="card-title grey-text text-darken-4"><strong>Results</strong></span>
    <table class="stripped">
      <tbody>
        <tr>
          <td>Feedback: </td>
          <td>{{action.feedback}}</td>
        </tr>
        <tr>
          <td>Level of fatigue: </td>
          <td>{{action.actual_fatigue}}</td>
        </tr>
      </tbody>
    </table>
    <a href="{{url_for('edit_action', action_id=action._id)}}" class="waves-effect waves-light btn deep-purple darken-3"><i class="material-icons right">create</i>Edit/Add Feedback</a>
    <a class="waves-effect waves-light btn modal-trigger red" href="#modal1">Delete</a>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Confirmation</h4>
        <p>Once you have deleted a session it is not possible to retrieve the session information again.</p>
      </div>
      <div class="modal-footer">
        <a href="{{url_for('delete_action', action_id=action._id)}}" class="modal-close waves-effect waves-green btn-flat">Confirm</a>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
