{% extends 'base.html' %} {% block content %}

<h2 class="white-text">Sports</h2>
<ul class="collapsible">
    {% for act in action %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons">arrow_drop_down_circle</i> {{act.action_name}}
            <a href="#{{act._id}}" class="waves-effect waves-light btn modal-trigger red delete-btn">Delete</a>
            <div id="{{act._id}}" class="modal">
                <div class="modal-content">
                    <h4>Delete Sport/h4>
                        <p>Once you have deleted a sport it is not possible to retrieve the sport again but can be recreated.</p>
                </div>
                <div class="modal-footer">
                    <a href="{{url_for('delete_sport', act_id=act._id)}}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
        <div class="collapsible-body">
            <p class="white-text">
                You have {% if action_tracker.action_name == {{act.action_name}} %}
                {{ action_tracker.count("{{act.action_name}}")}} 
                {% else %} 
                no 
                {% endif %} 
                activities under {{act.action_name}} name
            </p>
        </div>
    </li>
    {% endfor %}
</ul>
<a href="{{url_for('addsport')}}" class="waves-effect waves-light btn btn-margin deep-purple darken-3 hoverable"><i class="material-icons right">add</i>Add Sport</a> {% endblock %}
